.fx-icon-chooser {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
	margin-top: 0;
	margin-left: -1px;

	li {
		display: block;
	    margin: 0 0 1px;
	    padding: 0 1px;
		width: calc(100% / 3);

		button.components-button {
			background: #fff;
			color: #000;
			height: 50px;
			border: 0;
			border-radius: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
			padding: 8px;
			line-height: normal;
			font-size: 17px;
			width: 100%;
			justify-content: center;

			span {
				line-height: 0;
			}

			&:hover {
				background: #fff;
				box-shadow: none;
			}
		}
	}
}

.icon-chooser-container {
    max-height: 200px;
    overflow-y: auto;
    background: #fafafa;
    padding: 10px;
    margin-bottom: 20px;

	.components-base-control__label {
		font-weight: 500;
		padding-bottom: 10px;
	}
}

.advanced-icon-controls .components-base-control__field {
    display: flex;
    justify-content: space-between;
}

.fx-icon {
	display: inline-flex;
}

.fx-icon svg {
	height: 1em;
	width: 1em;
	fill: currentColor;
}

button.components-icon-picker-item {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    background: #efefef;
    cursor: pointer;
    border: 1px solid #ddd;
	margin-bottom: 10px;
}

.components-icon-picker-item > span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.components-icon-picker-item:hover, .components-icon-picker-item:focus {
    background: #fafafa;
}
