.gb-onboard-popover {
  .components-popover__content {
	width: 100%;
	padding: 12px;
	max-width: 330px;
  }
  .gb-onboard-popover__button {
	display: flex;
	justify-content: flex-end;
	gap: 16px;
  }
}
