.components-gblocks-units-control-header__units {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
}

.components-panel__body .components-gblocks-control__units .components-button {
    background: #fff;
    border-color: #e2e4e7;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #6c7781;
    font-size: 10px;
    padding: 0 5px;
    position: relative;
    text-align: center;
    text-shadow: none;
	border: 1px solid;

	&.is-primary {
	    background: #0070a7;
	    border-color: #0070a7;
	    color: #fff;
	    cursor: default;
	    z-index: 1;
	}
}
