.editor-styles-wrapper {
	mark.gb-highlight {
		background: none;
		color: unset;
	}

	div.gb-headline {
		margin: 0;
	}

	.gb-headline {
		margin-left: 0;
		margin-right: 0;

		span.rich-text {
			display: inline-block;
		}
	}
}
