.gb-headline-wrapper {
    display: -ms-flexbox;
    display: flex;
}

.editor-styles-wrapper .gb-headline {
    margin-top: 0;
    margin-bottom: 0;
	font-family: inherit;
}

mark.gb-highlight {
	background: unset;
	color: unset;
}
