/**
 * Editor Styles
 */
.editor-styles-wrapper {
	.gb-button-wrapper {
		position: relative;

		.gb-button {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			padding: unset;
			line-height: unset;
			text-decoration: none !important;
			border: none;
			transition: .2s background-color ease-in-out, .2s color ease-in-out, .2s border-color ease-in-out, .2s opacity ease-in-out, .2s box-shadow ease-in-out;
			margin: 0;

			.editor-rich-text__tinymce {
				line-height: 1em;
			}

			.gb-icon {
				align-self: center;
			}

			&.button {
				font-size: inherit;
				min-height: auto;
				border-radius: unset;
			}
		}
	}
}

.components-popover .gblocks-button-link {
	margin-bottom: 10px;
}

.components-popover .gblocks-button-link {
	input[type=text].block-editor-url-input__input {
		max-width: 100%;
		border: 1px solid #ddd;
		border-radius: 2px;
	}
}

.gblocks-button-link-dropdown {
	.components-base-control:last-child {
		.components-base-control__field {
			margin-bottom: 0;
		}
	}
}
