/**
 * Editor Styles
 */
.gb-button {
	line-height: unset;
	text-decoration: none;
	box-sizing: border-box;
	margin: 0;
	border: none;

	&.button {
		font-size: inherit;
		min-height: auto;
		border-radius: unset;
	}
}

.components-popover .gblocks-button-link {
	margin-bottom: 10px;
}

.components-popover .gblocks-button-link {
	input[type=text].block-editor-url-input__input {
		max-width: 100%;
		border: 1px solid #ddd;
		border-radius: 2px;
	}
}

.gblocks-button-link-dropdown {
	.components-base-control:last-child {
		.components-base-control__field {
			margin-bottom: 0;
		}
	}
}
