.gblocks-dimensions-control {
	background: #fff;
	font-size: 11px;

	button {
		border-radius: 0;
		border: 0;
		min-height: 40px;
		background-color: #dfdfdf;
		cursor: pointer;
	}

	&__inner {
		grid-area: middle;
		border: 3px solid #fff;
		border-radius: 4px;
		box-shadow: 0 0 0 4px #000;
		z-index: 10;
		overflow: hidden;

		&.gblocks-dimensions-control--is-grid {
			& > button:nth-child(1) {
				clip-path: polygon(0% 0%, 100% 0%, 75% 95%, 25% 100%);
			}

			& > button:nth-child(3) {
				clip-path: polygon(25% 0%, 75% 0%, 100% 100%, 0% 100%);
			}
		}
	}

	&__middle {
		grid-area: middle;
		width: 30px;
		height: 30px;
	}

	&--is-grid {
		position: relative;
		display: grid;
		grid-template-areas:
		"top top top"
		"left middle right"
		"left middle right"
		"bottom bottom bottom";
		grid-template-columns: 40px 1fr 40px;

		& > button:nth-child(1) {
			grid-area: top;
			background-color: #c6c6c6;
			clip-path: polygon(0% 0%, 100% 0%, 84% 100%, 16% 100%);
		}

		& > button:nth-child(2) {
			grid-area: right;
		}

		& > button:nth-child(3) {
			grid-area: bottom;
			background-color: #c6c6c6;
			clip-path: polygon(16% 0%, 84% 0%, 100% 100%, 0% 100%);
		}

		& > button:nth-child(4) {
			grid-area: left;
		}

		& > button.gblocks-dimensions-control__selected-button {
			background-color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #007cba));
			color: #fff;

			&:nth-child(2):before,
			&:nth-child(4):before {
				background: var(--wp-components-color-accent, var(--wp-admin-theme-color, #007cba));
			}
		}

		& > button:nth-child(1),
		& > button:nth-child(3) {
			position: relative;
			z-index: 1;
		}

		& > button:nth-child(2),
		& > button:nth-child(4) {
			position: relative;
			z-index: 0;

			&:before {
				content: '';
				position: absolute;
				inset: -40px 0 -40px 0;
				background: #d7d7d7;
				pointer-events: none;
				z-index: -1;
			}
		}

		.gblocks-dimentions-control-label {
			position: absolute;
			top: 5px;
			left: 5px;
			font-size: 9px;
			background: #222;
			color: #fff;
			padding: 0 2px;
			text-transform: uppercase;
			z-index: 2;
		}
	}

	&__picker {
		margin-top: 20px;
	}

	&__presets {
		display: grid;
		grid-area: 2 / 1 / 3 / -1;
		grid-template-columns: repeat(4, 1fr);
		gap: 4px;

		&--has-auto {
			grid-area: 2 / 1 / 3 / -1;
			grid-template-columns: 1.5fr repeat(4, 1fr);
		}

		button {
			border-radius: 2px;
			font-size: 11px;
			min-height: unset;
			height: auto;
			display: flex;
			justify-content: center;
		}
	}
}
