.fx-component-color-picker-wrapper {
    .fx-component-color-picker-wrapper + .fx-component-color-picker-wrapper {
        margin-top: -5px;
    }

    > .components-base-control__field {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;

        .components-color-palette__item-wrapper {
            margin: 0;
        }
    }
}
.fx-component-color-picker {
    .fx-component-color-picker-palette {
        margin: 0 17px;
    }
    .components-color-palette {
        margin: 0;
    }
}

.components-base-control.color-picker-clear {
    text-align: center;
    padding-bottom: 5px;
}
