.fx-component-color-picker-wrapper {
    .fx-component-color-picker-wrapper + .fx-component-color-picker-wrapper {
        margin-top: -5px;
    }

    > .components-base-control__field {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;

        .components-color-palette__item-wrapper {
            margin: 0;

            > .components-color-palette__item {
                background-image: linear-gradient(45deg, #ddd 25%, transparent 0), linear-gradient(-45deg, #ddd 25%, transparent 0), linear-gradient(45deg, transparent 75%, #ddd 0), linear-gradient(-45deg, transparent 75%, #ddd 0);
                background-position: 0 0, 0 5px, 5px -5px, -5px 0;
                background-size: 10px 10px;
            }
        }
    }
}
.fx-component-color-picker {
    .fx-component-color-picker-palette {
        margin: 0 17px;
    }
    .components-color-palette {
        margin: 0;
    }
}
