.gblocks-component-color-picker-wrapper {
    .gblocks-component-color-picker-wrapper + .gblocks-component-color-picker-wrapper {
        margin-top: -5px;
    }

    > .components-base-control__field {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .components-color-palette__item-wrapper {
            margin: 0;
        }
    }

	.components-base-control__label {
	    cursor: pointer;
	}
}

.gblocks-component-color-picker {
    .gblocks-component-color-picker-palette {
        margin: 17px;

		.components-circular-option-picker {
		    display: flex;
		    flex-wrap: wrap;

			.components-circular-option-picker__option-wrapper {
				margin: 0 8px 8px 0;
			}
		}
    }

	.components-base-control__field,
	.components-color-palette {
        margin: 0;
    }

	.components-color-picker {
		padding: 5px;
	}

	.components-color-picker__inputs-toggle {
	    display: none;
	}

	.components-color-picker__body {
	    padding-bottom: 0;
	}
}

.components-base-control.color-picker-clear {
    text-align: center;
    padding-bottom: 5px;
}

.gblocks-component-color-opacity {
    display: flex;
	padding: 0 16px;

	.components-range-control {
	    flex-grow: 1;
	    padding-left: 5px;
	}
}

.gblocks-color-picker-container {
	padding: 5px;
	border: 1px solid transparent;
	margin-bottom: 0 !important;
}

.components-base-control.gblocks-color-picker-is-open {
    background: #ffffff;
    border: 1px solid #dddddd;
    padding: 5px;
	margin-bottom: 24px !important;
}

.components-base-control.gblocks-component-color-picker-wrapper {
    margin-bottom: 0 !important;
}

.gblocks-component-color-picker > .components-base-control:first-child {
    margin-bottom: 0;
}

.components-button.components-color-show-palette {
    margin-left: 12px;
}

.gblocks-color-controls {
    display: flex;
    justify-content: space-between;
    margin: 0 16px 16px;
}

.gblocks-color-picker-container .components-circular-option-picker__option,
.gblocks-color-picker-container .components-circular-option-picker__option-wrapper:before,
.gblocks-color-picker-container .components-circular-option-picker__option:after {
    border-radius: 0;
}
