.generateblocks-media-upload-control-wrapper {
  	padding: 0 16px 0 16px;

  	& > .components-base-control {
	  	margin-bottom: 8px;
	}

	.generateblocks-media-upload-control {
		display: flex;
		margin-bottom: 24px;

		& > .components-base-control {
			flex-grow: 1;
			margin: 0;

			& > .components-base-control__field {
				margin: 0;

				& input {
					min-height: 36px;
				}
			}
		}
	}
}
