/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

body.gutenberg-editor-page [data-type="generateblocks/container"] .editor-block-list__block,
[data-type="generateblocks/container"] .wp-block-heading h1,
[data-type="generateblocks/container"] .wp-block-heading h1.editor-rich-text__tinymce,
[data-type="generateblocks/container"] .wp-block-heading h2,
[data-type="generateblocks/container"] .wp-block-heading h2.editor-rich-text__tinymce,
[data-type="generateblocks/container"] .wp-block-heading h3,
[data-type="generateblocks/container"] .wp-block-heading h3.editor-rich-text__tinymce,
[data-type="generateblocks/container"] .wp-block-heading h4,
[data-type="generateblocks/container"] .wp-block-heading h4.editor-rich-text__tinymce,
[data-type="generateblocks/container"] .wp-block-heading h5,
[data-type="generateblocks/container"] .wp-block-heading h5.editor-rich-text__tinymce,
[data-type="generateblocks/container"] .wp-block-heading h6,
[data-type="generateblocks/container"] .wp-block-heading h6.editor-rich-text__tinymce {
	color: inherit;
}

.additional-class-notice .components-notice {
	margin: 0 0 10px;
}

.widthButtons {
    margin-bottom: 10px;
    display: flex;

	button {
		font-size: 12px;
		flex: 1;
		box-shadow: inset 0 0 0 1px #007cba;
		justify-content: center;
		padding: 5px 0;

		&:first-child {
			padding: 5px;
		}
	}
}

.gblocks-column-width-control input[type="number"] {
	width: 65px;
}

[data-type="generateblocks/container"] > .block-editor-block-list__block-edit > [data-block] {
    margin: 0;
}

.block-editor-block-inspector .components-base-control {
	&.gblocks-gpress-full-width {
		border-top: 1px solid #ddd;
		padding-top: 15px;

		.components-base-control__label {
			margin-bottom: 15px;
		}
	}
}

.gblocks-container-text-alignment .components-base-control__label {
    display: block;
}

/* Not needed in GB 7 */
.edit-post-visual-editor .block-editor-block-list__block[data-type="generateblocks/container"] > .block-editor-block-list__block-edit {
    margin: 0;
}

.gb-container .gb-inside-container {
  	box-sizing: inherit;
}

.gblocks-bg-image-wrapper {
	display: flex;

	.components-base-control,
	.components-base-control__field {
			margin: 0;
	}

	& > .components-base-control {
		flex-grow: 1;
	}

	.components-button {
		line-height: inherit;
		height: 100%;
	}
}

.components-gblocks-control__image-sizes {
	margin-bottom: 24px;

	button {
		margin: 0 5px 5px 0;
	}
}

.gb-container .wp-block-image {
    margin-top: 0;
    margin-bottom: 0;
}

/* Shape divider */
.gb-container .gb-shape {
	position: absolute;
	overflow: hidden;
	line-height: 0;
	pointer-events: none;

	svg {
		fill: currentColor;
	}
}

.gblocks-add-new-shape {
	margin-top: 10px;
}

.gblocks-shape-controls {
	width: 100%;

	& > .components-base-control {
		margin-bottom: 20px;
	}

	.gblocks-edit-shape {
		display: block;
		width: 100%;
		text-align: left;
	}

	.gblocks-shape-chooser {
		margin: 0;
		display: block;

		li {
			margin: 5px 0;

			button.components-button {
				width: 100%;
				height: auto;
				background: #efefef;

				svg {
					width: 100%;
				}

				&:hover {
					background: #efefef;
				}

				&.gblocks-shape-is-active {
					box-shadow: 0 0 0 3px #007cba;
				}
			}
		}
	}

	.components-panel__row {
		display: block;
	}
}

.gblocks-shape-divider-preview {
	padding: 10px;

	svg {
		fill: currentColor;
	}
}

.gblocks-shape-toggle-preview {
	margin-right: 10px;

	svg {
		   width: 30px;
	}
}

.gblocks-shape-container {
    display: flex;
    align-items: center;
	margin-bottom: 10px;
	border: 1px solid #efefef;
	border-radius: 3px;

	.components-dropdown {
		margin-left: auto;
	}

	.components-button.gblocks-shape-dropdown,
	.components-button.gblocks-remove-shape {
		justify-content: center;

		& > svg {
			margin-right: 0;
		}
	}
}

.components-popover.gblocks-shapes-dropdown .components-popover__content {
    min-width: 260px;
}

/* GPress content width */
.gblocks-gpress-full-width .components-base-control__label {
	display: block;
}

.gb-container-empty {
	position: relative;

	&.gb-container-visual-guides {
		&:before {
			content: "";
			position: absolute;
			top: 0.5px;
			right: 0.5px;
			bottom: 0.5px;
			left: 0.5px;
			border: 1px dashed #000;
			box-shadow: inset 0 0 0 1px #fff;
			opacity: 0.2;
			transition: opacity 500ms ease;
		}

		&:hover:before {
			opacity: 0.3;
		}
	}
}

.gb-container {
	margin-top: 0;
	margin-bottom: 0;
	box-sizing: border-box;

	& > .wp-block {
		margin-left: 0;
		margin-right: 0;
	}
}

.gb-container.block-editor-block-list__block.gb-container-empty > .gb-inside-container,
.gb-container.block-editor-block-list__block.gb-container-empty {
	& > .block-list-appender {
		margin: 0;
	}
}

.gb-container.block-editor-block-list__block > .gb-inside-container,
.gb-container.block-editor-block-list__block {
	& > .block-list-appender {
		position: relative;
		width: 35px;
		padding: 0;
		margin-top: 10px;

		&:empty {
			display: none;
		}
	}

	button.block-editor-button-block-appender {
		background: #000;
		color: #fff;
		padding: 5px;
		height: 35px;
		width: 35px;
		min-height: 35px;
		box-sizing: border-box;

		&:hover {
			background-color: var(--wp-admin-theme-color);
		}

		&:not(:hover) {
			box-shadow: inset 0 0 0 1px #444;
		}
	}
}

.components-button.gblocks-container-selector {
	display: block;
	text-align: left;
	color: inherit;
	padding: 0;
	border: 0;
	height: 35px;

	.gblocks-container-selector__icon {
		background: #fff;
		opacity: 0.3;
		display: inline-flex;
		height: 35px;
		width: 35px;
		align-items: center;
		justify-content: center;
		border-radius: 2px;
		transition: opacity 500ms ease;

		svg {
			width: 35px;
			height: 35px;
			transform: scale(0.7);

			path {
				fill: #000;
			}
		}
	}

	&:hover {
		.gblocks-container-selector__icon {
			opacity: 0.4;
		}
	}
}

.gblocks-inner-container-notice {
	margin: 0 0 1em;
	background: rgba(0,0,0,0.03);
	max-width: 720px;
}

.gblocks-layout-system-ul {
	list-style-type: disc;
	margin-left: 1em;
}
