.gb-url-controls {
	display: flex;
	flex-direction: column;
	gap: 5px;

	&__link {
		&-input {
			min-width: auto;

			input[type="text"] {
				width: 100%;
			}
		}
	}
}


.components-popover__content {
	.gb-url-controls {
		.gb-stack {
			align-items: center;
		}

		input[type="text"] {
			height: 35px !important;
		}

		.components-button {
			height: 35px !important;
			min-height: 35px !important;
			padding: 0 10px;
		}
	}
}
