.gblocks-typography-component {
	.components-dropdown-menu {
		margin-bottom: 15px;
	}

	&__toggle {
		border: 1px solid #ddd;
		border-radius: 3px;
		margin: 0;
	}

	&__appearance {
		& > .components-base-control__field {
			display: flex;
			justify-content: space-between;

			& > .components-base-control {
				margin-bottom: 0 !important;
				width: calc(50% - 2px);
			}
		}
	}

	&__font-family {
		.components-base-control {
			margin-bottom: 0 !important;
		}
	}

	&__font-family-select {
		margin-bottom: 5px;
	}

	&__font-family-input {
		display: flex;

		& > :first-child {
			flex: 1;
		}

		& > :nth-child(2) {
			width: 100px;
			margin-left: 5px;
		}
	}
}
