.edit-post-settings-sidebar__panel-block .components-panel__body .components-base-control.fx-font-family-shortcuts {
    margin-bottom: 2px;
}

.components-fx-typography-control__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
}

.components-panel__body .components-fx-typography-control__units .components-button {
    background: #fff;
    border-color: #e2e4e7;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #6c7781;
    font-size: 10px;
    padding: 0 5px;
    position: relative;
    text-align: center;
    text-shadow: none;

	&.is-primary {
	    background: #666;
	    border-color: #666;
	    color: #fff;
	    cursor: default;
	    z-index: 1;
	}
}

.components-fx-typography-control__inputs + .components-fx-typography-control__header {
    margin-top: 25px;
}

.components-fx-typography-control__inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-post-settings-sidebar__panel-block .components-panel__body .components-fx-typography-control__inputs .components-base-control,
.components-fx-typography-control__inputs .components-base-control .components-base-control__field {
    margin-bottom: 0;
}

.components-fx-typography-weight-transform {
    display: flex;
    justify-content: space-between;
}

.components-fx-typography-weight-transform > div {
    width: 48%;
}

.components-fx-typography-control__units > .components-button-group .components-button.is-button:first-child:last-child {
    border-radius: 3px;
}