.wp-block-generateblocks-query-loop {
    > .block-editor-inner-blocks > .block-editor-block-list__layout {
        display: block; /* Un-flex standard Grid block */
    }
}

.gb-post-template {
	.gb-post-template-wrapper {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		& > .block-editor-inner-blocks {
			width: 100%;

			& > .block-editor-block-list__layout {
				height: 100%;

				& > .gb-grid-column {
					height: 100%;
					margin-left: 0;
					margin-right: 0;

					& > .gb-container {
						height: 100%;
					}
				}
			}

			/* Fix for Container not knowing it's a grid item */
			& > .gb-is-root-block {
				height: 100%;

				& > .gb-grid-column {
					height: 100%;

					& > .gb-container {
						height: 100%;
					}
				}
			}
		}
	}

	.block-editor-default-block-appender,
	.gb-container + .block-list-appender {
		display: none;
	}

	& + .block-list-appender {
		position: relative;

		.gblocks-query-block-appender {
			width: auto;
		}
	}
}
