.gblocks-sub-navigation {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.gblocks-sub-navigation a.button {
    margin: 4px;
}

.gblocks-dashboard-intro-content {
    padding: 60px;
    font-size: 30px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
}

.gblocks-dashboard-intro-image {
    width: 50%;
    text-align: center;
}

.gblocks-dashboard-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.gblocks-block {
    padding: 40px;
    background: #fff;
    background-image: linear-gradient(180deg, #fff 50%, rgba(0,0,0,0.02));
    display: flex;
    flex-direction: column;
    width: 29%;
    box-sizing: border-box;
    margin: 0 2% 4%;
    border-bottom: 2px solid #ddd;
    border-right: 2px solid #ddd;
}

.gblocks-block svg {
    width: 75px;
    height: 75px;
	fill: #006eb7;
}

.gblocks-block > *:last-child {
    margin-bottom: 0;
}

.gblocks-block h3 {
    margin-top: 30px;
	font-size: 20px;
}

.gblocks-block p {
    font-size: 15px;
    margin: 0 0 1em;
}

.gblocks-button {
    margin-top: auto;
    background: #fff;
    border: 1px solid;
    flex-grow: 0;
    padding: 15px 20px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    align-self: flex-start;
	transition: color 500ms ease;
}

.gblocks-generatepress {
	background: #fff;
	padding: 60px;
}

.gblocks-inside-generatepress {
	display: flex;
    max-width: 1200px;
    margin: 0 auto;
	align-items: center;
}

.gblocks-generatepress-content {
	width: 50%;
}

.gblocks-generatepress-content h2 {
    font-size: 40px;
    line-height: 1.5em;
	font-weight: 300;
	margin-top: 0;
}

.gblocks-generatepress-content p {
    font-size: 17px;
    line-height: 1.8;
}

.gblocks-generatepress-content .stats {
    display: flex;
    font-size: 15px;
    line-height: 1.6;
    margin-top: 20px;
	margin-bottom: 20px;
}

.gblocks-generatepress-content .stats > * {
    padding-right: 30px;
}

.gblocks-generatepress-content .stats strong {
    font-size: 20px;
}

.gblocks-generatepress-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gblocks-generatepress-content .gblocks-button {
    color: #006eb7;
    display: inline-block;
    margin-top: 10px;
}

.gblocks-generatepress-content .gblocks-button:hover {
	color: #000;
}

.gblocks-getting-started {
    padding: 0 60px 60px;
    text-align: center;
}

.gblocks-getting-started img {
	display: block;
	margin: 0 auto;
}

.gblocks-getting-started p {
    font-size: 20px;
    max-width: 450px;
    margin: 0 auto;
}

.gblocks-getting-started p:first-child:before {
    content: "";
    display: block;
	height: 1px;
    width: 150px;
    background: #d8e2e4;
	margin: 0 auto 40px;
}

@media (max-width: 1180px){
	.gblocks-inside-generatepress {
		flex-wrap: wrap;
	}

	.gblocks-generatepress-content {
		width: 100%;
	}

	.gblocks-generatepress-image {
	    width: 100%;
		order: -1;
	}
}

@media (max-width: 1000px) {
	.gblocks-block {
	    width: 46%;
	    margin: 0 2% 4%;
	}
}

@media (max-width: 520px) {
	.gblocks-block {
	    width: 96%;
	    margin: 1% 2%;
	}

	.gblocks-getting-started img {
		max-width: 100%;
	}

	.gblocks-generatepress-content .stats {
		flex-wrap: wrap;
	}
}
