.gblocks-dashboard-wrap {
    margin: 0;
    overflow: hidden;
}

.gblocks-dashboard-header {
    background: #006eb7;
    padding: 60px 60px 30px;
	display: flex;
	align-items: center;
}

.gblocks-dashboard-header h1 {
    color: #fff;
    font-size: 40px;
	font-weight: 300;
}

.gblocks-navigation {
    background: #006eb7;
    padding: 0 60px;
}

.gblocks-navigation {
    background: #006eb7;
    padding: 0 60px;
	display: flex;
}

.gblocks-navigation a {
    padding: 10px 15px;
    display: inline-flex;
    color: #fff;
    text-decoration: none;
}

.gblocks-navigation .right-side {
	margin-left: auto;
}

.gblocks-navigation a:first-child {
	margin-left: -15px;
}

.gblocks-navigation a.active {
    background: #fff;
    color: #006eb7;
}

.settings_page_generateblocks-settings .gblocks-navigation a.active {
	background: #f1f1f1;
}

.settings_page_generateblocks #wpcontent {
    padding-left: 0;
    background: #fff;
}

.settings_page_generateblocks-settings #wpcontent {
    padding-left: 0;
}

.gblocks-dashboard-header .gblocks-logo {
	margin-left: auto;
}

.gblocks-dashboard-intro-content {
    padding: 60px;
    font-size: 25px;
    line-height: 1.8;
    text-align: center;
    margin: 0 auto;
    background: #fff;
}

.gblocks-dashboard-intro-image {
    width: 50%;
    text-align: center;
}

.gblocks-dashboard-blocks {
    display: flex;
    justify-content: center;
    background: #f0f4f5;
	padding: 60px;
	margin-left: -60px;
}

.gblocks-block {
    padding: 40px;
    background: #fff;
    background-image: linear-gradient(180deg, #fff 90%, rgba(0,0,0,0.04));
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 60px;
    border: 2px solid #e3e4e7;
}

.gblocks-block svg {
    width: 75px;
    height: 75px;
	color: #006eb7;
}

.gblocks-block > *:last-child {
    margin-bottom: 0;
}

.gblocks-block h3 {
    margin-top: 30px;
	font-size: 20px;
}

.gblocks-block p {
    font-size: 18px;
	margin: 0 0 2em;
}

.gblocks-button {
    margin-top: auto;
    background: #fff;
    border: 1px solid;
    flex-grow: 0;
    padding: 15px 20px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    align-self: flex-start;
	transition: color 500ms ease;
}

.gblocks-generatepress {
	background: #fff;
	padding: 60px;
}

.gblocks-inside-generatepress {
	display: flex;
    max-width: 1200px;
    margin: 0 auto;
	align-items: center;
}

.gblocks-generatepress-content {
	width: 50%;
}

.gblocks-generatepress-content h2 {
    font-size: 40px;
    line-height: 1.5em;
	font-weight: 300;
	margin-top: 0;
}

.gblocks-generatepress-content p {
    font-size: 17px;
    line-height: 1.8;
}

.gblocks-generatepress-content .stats {
    display: flex;
    font-size: 15px;
    line-height: 1.6;
    margin-top: 20px;
	margin-bottom: 20px;
}

.gblocks-generatepress-content .stats > * {
    padding-right: 30px;
}

.gblocks-generatepress-content .stats strong {
    font-size: 20px;
}

.gblocks-generatepress-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gblocks-generatepress-content .gblocks-button {
    color: #006eb7;
    display: inline-block;
    margin-top: 10px;
}

.gblocks-generatepress-content .gblocks-button:hover {
	color: #000;
}

.gblocks-settings-content {
	padding: 60px;
}

#generateblocks-regenerate-css-files-button {
    display: flex;
    align-items: center;
}

.generateblocks-button-spinner:before {
    font: normal 20px/.5 dashicons;
    speak: none;
    content: "\f463";
	padding-right: 3px;
}

.generateblocks-button-spinner.loading:before {
    -webkit-animation: rotation 1s infinite linear;
    animation: rotation 1s infinite linear;
}

.generateblocks-button-spinner.success:before {
    content: "\f147";
    color: #46b450;
}

.gblocks-getting-started {
    background: #f0f4f5;
    padding: 0 60px 60px;
    text-align: center;
}

.gblocks-getting-started img {
	display: block;
	margin: 0 auto;
}

.gblocks-getting-started p {
    font-size: 20px;
    max-width: 450px;
    margin: 0 auto;
}

.gblocks-getting-started p:first-child:before {
    content: "";
    display: block;
	height: 1px;
    width: 150px;
    background: #d8e2e4;
	margin: 0 auto 40px;
}
