.components-gblocks-dimensions-control__inputs,
.components-gblocks-dimensions-control__input-labels {
    display: flex;
}

.components-gblocks-dimensions-control input[type="number"] {
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 30px;
    margin: 0 -1px 0 0;
    padding: 5px;
    width: calc(25% - 5px);
}

.components-gblocks-dimensions-control input[type="number"]:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.components-gblocks-dimensions-control__input-labels > span {
    width: calc(25% - 5px);
	font-size: 11px;
}

.components-gblocks-dimensions-control__input-labels > span:last-child {
    width: 30px;
}

.components-gblocks-dimensions-control_sync.components-button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    text-align: center;
    text-shadow: none;
    width: 30px;
}

.components-gblocks-dimensions-control_sync.components-button:not(.is-primary) {
	background: #fff;
	border: 1px solid #8d96a0;
	color: #555d66;
}

.components-gblocks-dimensions-control_sync.components-button svg {
	width: 18px;
	height: 18px;
	fill: currentColor;
}

.components-gblocks-dimensions-control_sync.components-button:hover,
.components-gblocks-dimensions-control_sync.components-button:focus {
	box-shadow: none !important;
}
