.components-gblocks-dimensions-control {
	& > .components-base-control__field {
		display: flex;
		flex-wrap: wrap;
	}

	&__inputs {
		flex-basis: 100%;
		display: grid;
		grid-template-areas:
		"top  right "
		"left bottom";
		gap: 10px;

		& > div {
			.components-base-control {
				margin-bottom: 0;

				&__field {
					margin-bottom: 0;
				}
			}

			&:nth-child(3) {
				grid-area: bottom;
			}

			&:nth-child(4) {
				grid-area: left;
			}
		}
	}
}

.gblocks-dimensions-control__label {
    font-size: 10px;
    opacity: 0.5;
    line-height: 1;
}

.components-gblocks-dimensions-control_sync {
	&.components-button {
		padding: 0;
		text-align: center;
		width: 15px;
		height: 15px;
		margin-left: 5px;

		svg {
			width: 18px;
			height: 18px;
			fill: currentColor;
		}

		&:hover,
		&:focus {
			box-shadow: none !important;
		}
	}
}
