.gb-matrix {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	color: #000;
	//border: 2px dashed currentColor;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' class='gblocks-block-icon' aria-hidden='true' focusable='false'%3E%3Cpath style='fill: none;' d='M0 0h24v24H0z'%3E%3C/path%3E%3Cpath d='M21.375 22h-3.75v-1.25h3.125v-3.125H22v3.75c0 .345-.28.625-.625.625zM9.188 20.75h5.625V22H9.188zM6.375 22h-3.75A.625.625 0 0 1 2 21.375v-3.75h1.25v3.125h3.125V22zM2 9.187h1.25v5.625H2zm1.25-2.812H2v-3.75C2 2.28 2.28 2 2.625 2h3.75v1.25H3.25v3.125zM9.188 2h5.625v1.25H9.188zM22 6.375h-1.25V3.25h-3.125V2h3.75c.345 0 .625.28.625.625v3.75zm-1.25 2.812H22v5.625h-1.25z'%3E%3C/path%3E%3C/svg%3E");
	background-size: contain;
	background-repeat: no-repeat;


	&-cell {
		display: flex;
		width: 32px;
		height: 32px;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&-state {
			height: 10px;
			width: 10px;
			background: #ccc;
			transition: all 120ms linear 0s;
		}

		&.active &-state {
			box-shadow: currentColor 0 0 0 2px;
			border: 2px solid #fff;
			background: currentColor;
		}

		&:hover &-state {
			background: currentColor;
		}

		&:hover.active &-state {
			background: currentColor;
		}
	}

	// Compact version
	&.is-compact &-cell {
		width: 8px;
		height: 8px;

		&-state {
			width: 3px;
			height: 3px;
		}
	}

	&.is-compact &-cell.active &-cell-state {
		box-shadow: currentColor 0 0 0 1px;
		border: none;
	}

	&.is-compact &-cell:hover &-cell-state {
		background: #ccc;
	}

	&:not(.is-compact) &-cell:focus {
		box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-components-color-accent, var(--wp-admin-theme-color, #007cba));
		outline: 3px solid transparent;
	}

	&:not(.is-compact) &-cell:focus:not(.active) &-cell-state {
		background: currentColor;
	}
}
