.gb-matrix {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	color: #000;

	&.is-compact {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2'%3E%3Cpath d='M1 4.583H0V.25C0 .083.083 0 .25 0h4.333v1H1v3.583ZM7.25 1V0h5.417v1H7.25Zm8.167 0V0h4.333c.167 0 .25.083.25.25v4.333h-1V1h-3.583ZM19 7.25h1v5.417h-1V7.25Zm0 8.167h1v4.333c0 .167-.083.25-.25.25h-4.333v-1H19v-3.583ZM12.667 19v1H7.25v-1h5.417Zm-8.084 0v1H.25c-.167 0-.25-.083-.25-.25v-4.333h1V19h3.583ZM1 12.667H0V7.25h1v5.417Z' style='fill-rule:nonzero'/%3E%3C/svg%3E");
		background-size: contain;
		background-repeat: no-repeat;
		padding: 3px;
	}

	&-cell {
		display: flex;
		width: 32px;
		height: 32px;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&-state {
			height: 10px;
			width: 10px;
			background: currentColor;
			transition: all 120ms linear 0s;
		}

		&.active &-state {
			box-shadow: currentColor 0 0 0 2px;
			border: 2px solid #fff;
			background: currentColor;
		}

		&:hover &-state {
			background: currentColor;
		}

		&:hover.active &-state {
			background: currentColor;
		}
	}

	// Compact version
	&.is-compact &-cell {
		width: 6px;
		height: 6px;

		&-state {
			width: 2px;
			height: 2px;
		}
	}

	&.is-compact &-cell.active &-cell-state {
		box-shadow: currentColor 0 0 0 1px;
		border: none;
	}

	&:not(.is-compact) &-cell:focus {
		box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-components-color-accent, var(--wp-admin-theme-color, #007cba));
		outline: 3px solid transparent;
	}

	&:not(.is-compact) &-cell:focus:not(.active) &-cell-state {
		background: currentColor;
	}
}
