.pattern-library-layout {
	height: 100%;

	.pattern-library-selector {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 8px;
		gap: 8px;
		margin-bottom: 32px;
	}

	.pattern-category-list,
	.pattern-tree {
		display: flex;
		flex-direction: column;

		.pattern-tree .components-button {
			flex-direction: row-reverse;
			justify-content: space-between;
		}
	}

	.library-sidebar {
		max-width: 280px;
		width: 100%;
		position: fixed;
	}

	.library-content {
		padding-left: 312px;

		.patterns-wrapper {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 32px;
			position: relative;
			top: 10px; /* box-shadow width */

			.gb-pattern {
				cursor: pointer;
				background: #f0f0f0;
				box-shadow: 0 0 0 10px #f0f0f0;
				box-sizing: border-box;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
	}

	.loading-library {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 30vh;
	}
}
