.pattern-library {
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: sticky;
		z-index: 1000;
		top: 0;
		padding: 0 32px;
		height: 75px;
		background: #fff;
		border-bottom: 1px solid #fafafa;

		h1 {
			font-size: 20px;
		}
	}

	.pattern-library-selector {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
	}
}

.pattern-library-layout {
	padding: 32px;

	.pattern-category-list,
	.pattern-tree {
		display: flex;
		flex-direction: column;
		gap: 10px;

		&__insert-button.components-button {
			flex-direction: row-reverse;
			justify-content: space-between;
			padding-left: 12px;
			padding-right: 12px;
		}

		&__items {
			padding-left: 30px;
			border-left: 1px solid #ddd;
			display: flex;
			flex-direction: column;
			gap: 5px;
		}

		&__item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				left: -30px;
				top: 50%;
				height: 1px;
				background: #ddd;
				width: 20px;
			}

			.components-button {
				min-width: 25px;
				width: 25px;
				height: 25px;
			}
		}

		.pattern-tree .components-button {
			flex-direction: row-reverse;
			justify-content: space-between;
		}
	}

	.library-sidebar {
		max-width: 280px;
		width: 100%;
		position: fixed;
	}

	.gb-pattern {
		cursor: pointer;
		background: #f0f0f0;
		box-shadow: 0 0 0 10px #f0f0f0;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}

	.library-content {
		padding-left: 312px;

		.patterns-wrapper {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 32px;
			position: relative;
			top: 10px; /* box-shadow width */
		}
	}

	.loading-library {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 30vh;
	}
}

.gblocks-pattern-library-modal.is-full-screen {
	width: 1400px;
	max-width: 100%;

	.components-modal__header {
		display: none;
	}

	.components-modal__content {
		margin-top: 0;
		padding: 0;
	}
}
