.gblocks-flex-direction-alignItems-column svg {
	transform: rotate(-90deg) scale(-1, 1);
}

.gblocks-flex-direction-justifyContent-column svg {
	transform: rotate(90deg);
}

.gblocks-flex-direction-alignItems-column-reverse svg {
	transform: rotate(-90deg);
}

.gblocks-flex-direction-justifyContent-column-reverse svg {
	transform: rotate(90deg) scale(-1, 1);
}

.gblocks-flex-direction-alignItems-row-reverse svg,
.gblocks-flex-direction-justifyContent-row-reverse svg {
	transform: scale(-1, 1);
}


.gblocks-flex-controls {
	& > .components-base-control__field {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
  	}

  	.gblocks-flex-controls-inner {
		flex-basis: 100%;
		display: flex;

		& > .components-base-control {
			margin-bottom: 0;

			&:nth-child(1) {
				margin-right: 1px;
				flex-basis: 25%;
			}

			&:nth-child(2) {
				margin-right: 1px;
				flex-basis: 25%;
			}
		}

		p {
			margin-bottom: 0;
		}

		.gblocks-flex-basis-wrapper {
			position: relative;
			flex-basis: 50%;

			.components-gblocks-units-control-header__units {
				position: absolute;
				right: 0;
				top: 5px;
			}
		}
  	}
}

.gblocks-layout-gap {
	display: flex;
	gap: 5px;
}

.gb-grid-control__grid-template-columns-rows--presets {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: #efefef;
	padding: 10px;
	gap: 7px;
	margin-top: -2px;
	border-radius: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;

	&-button {
		display: grid;
		grid-template-columns: var(--grid-template-columns);
		width: 40px;
		padding: 3px;
		overflow: hidden;
		cursor: pointer;
		background: none;
		border-radius: 0;
		border: 0;
		gap: 1px;
		height: auto;

		.gb-preview-column {
			background: #fff;
			border: 1px solid #000;
			height: 15px;
			border-radius: 1px;
		}
	}
}

.gb-grid-control__grid-template-columns-rows {
	position: relative;

	& > .components-button {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		padding-left: 2px !important;
		padding-right: 2px !important;
	}

	.components-base-control,
	.components-base-control__field {
		margin: 0 !important;

		input {
			padding-right: 30px !important;
		}
	}

	.gb-styles-builder-control {
		flex-grow: 1;
		display: block;
	}
}
