.gblocks-flex-button-group {
	display: flex;

	button {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		font-size: 12px;

		svg {
			width: 15px;
		}
	}
}

.gblocks-is-column-direction-alignItems svg {
	transform: rotate(-90deg);
}

.gblocks-is-column-direction-justifyContent svg {
	transform: rotate(90deg);
}
