/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

$default-font: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif !default;
$default-font-size: 13px !default;
$default-line-height: 1.4 !default;
$icon-button-size: 36px !default;

/* Colors */
$dark-gray-100: #8f98a1 !default;
$dark-gray-700: #32373c !default;
$light-gray-700: #ccd0d4 !default;
$white: #fff;
$blue-wordpress-700: #00669b !default;
$blue-wordpress: #0073aa !default;
$color-brand-3: #4f5969 !default;

// Widths, heights & dimensions
$item-spacing: 10px !default;
