/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

$default-font: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif !default;
$default-font-size: 13px !default;
$default-line-height: 1.4 !default;
$icon-button-size: 36px !default;

/* Colors */
$dark-gray-100: #8f98a1 !default;
$dark-gray-700: #32373c !default;
$white: #fff;