$settings-container-width: 750px;

.generateblocks-settings-area {
	.components-placeholder.gblocks-settings-placeholder {
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		max-width: $settings-container-width;
		background: #fff;
		border: 1px solid #e2e4e7;
		box-shadow: none;
	}

	.generateblocks-settings-main {
		margin-left: auto;
		margin-right: auto;
		max-width: $settings-container-width;

		.gblocks-action-button {
			display: flex;
			align-items: center;
		}

		.gblocks-action-message {
			padding-left: 10px;
			opacity: 0;
			transition: opacity 200ms ease-in-out;
			color: green;
			pointer-events: none;

			&.gblocks-action-message--show {
				opacity: 1;
				transition: opacity 200ms ease-in-out;
			}

			&.gblocks-action-message--error {
				color: red;
			}
		}

		/* Only needed until WP 5.6 */
		.gblocks-css-print-method {
			.components-base-control__label {
				display: block;
			}
		}

		.components-button .components-spinner {
			margin: 0;
		}

		.components-button.is-primary .components-spinner {
			background: #000;
		}

		.components-panel__body {
			margin: 25px 0;
			background: #fff;
			border: 1px solid #e2e4e7;

			.components-panel__body-toggle {
				border-bottom: 1px solid #d6e2ed;
			}

			.gblocks-dashboard-panel-row-wrapper {
				padding-top: 10px;

				& > *:last-child {
					margin-bottom: 0;
				}
			}

			.components-panel__row {
				padding: 0;
				margin: 0 0 25px;
				display: block;

				.components-base-control {
					.components-base-control__help {
						margin-bottom: 0;
					}

					.components-base-control__field {
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}
