$container-width: 750px;

.generateblocks-dashboard {
	.gb-dashboard-info {
		max-width: $container-width;
		margin: 0 auto;
		box-sizing: border-box;
	}

	.gblocks-sub-navigation {
		display: flex;
		justify-content: center;
		margin-top: 10px;
		gap: 10px;
	}

	.gblocks-dashboard-intro-content {
		padding: 60px;
		font-size: 30px;
		line-height: 1.3;
		text-align: center;
		margin: 0 auto;
		max-width: 700px;

		h2 {
			margin: 0;
		}

		p {
			font-size: 18px;
			margin: 0 0 1em;
		}
	}

	.gblocks-generatepress {
		background: #fff;
		padding: 60px;
	}

	.gblocks-inside-generatepress {
		display: flex;
		max-width: 1200px;
		margin: 0 auto;
		align-items: center;
	}

	.gblocks-generatepress-content {
		width: 50%;

		h2 {
			font-size: 40px;
			line-height: 1.5em;
			font-weight: 300;
			margin-top: 0;
		}

		p {
			font-size: 17px;
			line-height: 1.8;
		}

		.stats {
			display: flex;
			font-size: 15px;
			line-height: 1.6;
			margin-top: 20px;
			margin-bottom: 20px;

			& > * {
				padding-right: 30px;
			}

			strong {
				font-size: 20px;
			}
		}

		.gblocks-button {
			color: #006eb7;
			display: inline-block;
			margin-top: 10px;

			&:hover {
				color: #000;
			}
		}
	}

	.gblocks-generatepress-image {
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.gblocks-getting-started {
		padding: 0 60px 60px;
		text-align: center;

		img {
			display: block;
			margin: 0 auto;
		}

		p {
			font-size: 20px;
			max-width: 450px;
			margin: 0 auto;

			&:first-child:before {
				content: "";
				display: block;
				height: 1px;
				width: 150px;
				background: #d8e2e4;
				margin: 0 auto 40px;
			}
		}
	}

	.components-panel__body {
		background-color: #fff;
	}

	@media (max-width: 1180px){
		.gblocks-inside-generatepress {
			flex-wrap: wrap;
		}

		.gblocks-generatepress-content {
			width: 100%;
		}

		.gblocks-generatepress-image {
			width: 100%;
			order: -1;
		}
	}

	@media (max-width: 520px) {
		.gblocks-getting-started img {
			max-width: 100%;
		}

		.gblocks-generatepress-content .stats {
			flex-wrap: wrap;
		}
	}
}
